@charset "UTF-8";
/* CSS Document */
/**** PROGRESS BAR *********************/

#loginp {
	background:url("../images/bg.jpg");
	background-size:cover;	
	height:1000px;
}

#loginp img {
	margin:0 auto;
	display:block;
	width:150px;
	margin-bottom:10px;
}

#login-logo {
	padding-top:75px;
		
}

button {
	width:145px !important;	
}

#register {
	background-color:#ff9800;	
}

#register:hover {
	background-color:#ffa726;	
}

.describe {
	font-size:12px !important;	
	text-overflow: ellipsis !important;
}
/*************************************/

/**** PROGRESS BAR *********************/

progress     
{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
	width:100%;
	height:20px;
	border-radius:10px;

}

/* Firefox */
progress::-moz-progress-bar { 
    background: #009688;  
}

/* Chrome */
progress::-webkit-progress-value {
    background: #009688;
}



/*************************************/





.title {
	margin-bottom:5px !important;	
	font-weight:bold;
	font-size:15px;
}

#number {
	color:lightgrey;
	margin-top:-11px;	
	font-size:12px;
}



#status {
	color:#CFD8DC;
	margin-top:-8px;	
}

.mapboxgl-canvas {
	position:static !important;	
	left:20px;
}
html {
	height:100% !important;
	background-color:#ecf0f1;
	
}

canvas{
    width: 100% !important;
    height: auto !important;
}



 header, main {
      padding-left: 200px;
    }
	
main  {
	background-color:#ecf0f1;

}

nav {
	background-color:#009688;

	border-top:10px solid #00796B;
}

footer {
	background-color:#009688 !important;	
	position:absolute;
	bottom:0;
	width:100%;
}

.footer-copyright {
	background-color:#00796B !important;	
}





#logo {
	position:relative;
	top:6px;
	left:35px;
	width:125px;
	height:auto;	
}

.side-nav {
	padding-top:20px;
	background-color:#222 !important;
	color:white;
	z-index:999;
	margin-top:62px;
	width:200px !important;
	
}

.pagination {
	margin-top:30px;	
}

.side-nav.fixed a:first-child {
	padding-top:20px;
}

.side-nav.fixed a {
	color:white;	
	transition:.5s;
}

.side-nav.fixed a:hover {
	color:#1abc9c;
	transition:.5s	
}

.side-nav li:hover, .side-nav li.active {
	background-color:#222;	
}

a > span {
	position:relative;
	top:-9px;
	left:12px;
}

.table a {
	color:#222;	
	transition:.5s;
}

.table a:hover {
	color:#1abc9c;
	transition:.5s;	
}

.portfolio .material-icons {
	padding:5px 25px;	
}



 @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
	  #logo {
		  position:static;
		  margin:5px auto;
		  display:block;
	  }
	  
	  .button-collapse {
	top:0px;
	z-index:998;
	left:20px;
	color:white;
	font-size:3em;
	position:fixed;	
}

.side-nav {
	margin-top:-2px;
}

    }